body, html {
	margin:0;
	padding:0;
}

html{
	background:url(../img/main-bg.jpg);
	background-size:1600px;
	background-position:top center;
	background-repeat:no-repeat;
	min-width:700px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.dim { 
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	background:#000;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	opacity:0;
}

.app_main {
	width:600px;
	height:540px;
	border-radius:16px;
	box-shadow:0px 4px 4px #000, 0px 1px 1px #fff inset;
	background:url(../img/rock.png);
	margin:40px auto 0;
	position:relative;
	overflow:hidden;
	z-index: 2;
}

.logo {
	width: 242px;
	height: 32px;
	background-image: url(../img/logo.png);
	background-position:center center;
	background-repeat:no-repeat;
	position:relative;
	top:12px;
	padding:12px;
	margin:0px auto;
}

.frame {
	width:500px;
	height:400px;
	overflow: hidden;
	margin:20px auto;
	background:rgba(255,255,255,0.4);
	box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.8) inset, 0px 0px 10px 2px #000;
}

.slider {
	width:1000px;
	height:400px;
	position:relative;
	top:0;
	left:0;
}

.app_roomlist {
	width:500px;
	height:400px;
	margin:0;
	padding:0;
	display:inline;
	float:left;
	overflow-y:scroll;
}


.app_room {
	width:500px;
	height:400px;
	margin:0;
	padding:0;
	display:inline;
	float:left;
	background:url(../img/room-1.jpg);
	background-size:720px auto;
	background-position:top center;
	overflow:hidden;
}

.roomlist_item {
	width:100%;
	position:relative;
	padding:10px 0px;
	border-top:1px solid rgba(255,255,255,0.3);
	border-bottom:1px solid rgba(0,0,0,0.3);
	background:rgba(255,255,255,0.1);
	transition: linear 0.2s;
	/* Firefox 4 */
	-moz-transition:linear 0.2s;
	/* Safari and Chrome */
	-webkit-transition:linear 0.2s;
	/* Opera */
	-o-transition:linear 0.2s;
}

.roomlist_item:first-child{
	border-top:none;
}

.roomlist_item:hover{
	background:rgba(255,255,255,0.5);
	cursor: pointer;	
}

.roomlist_item div {
	display:block;
	color:#fff;
	text-shadow:0px 1px 2px #000;
	padding-left: 24px;
}

.djname {
	font-weight:bold;
	font-size:2em;
	letter-spacing:-2px;
	text-transform: uppercase;
}

.genre {
	font-style:italic;
	font-size:1.3em;
}

.listeing {
	font-size:1em;
}

.app_room div {
	display:block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:#fff;
	text-shadow:0px 1px 2px #000;
	padding-left: 24px;
}

.app_room .djname {
	font-weight:bold;
	font-size:3em;
	letter-spacing:-2px;
	text-transform: uppercase;
}

.app_room .genre {
	font-style:italic;
	font-size:1.5em;
}

.app_room .listeing {
	font-size:1.2em;
}

.app_room .roomsound {
	padding:24px;
	}

.back {
	opacity:0.5;
	padding:20px;
	transition: linear 0.1s;
	/* Firefox 4 */
	-moz-transition:linear 0.1s;
	/* Safari and Chrome */
	-webkit-transition:linear 0.1s;
	/* Opera */
	-o-transition:linear 0.1s;
}

.back:hover {
	opacity:1;
	background:rgba(0,0,0,0.3);
	cursor: pointer;
}

.roomlist_item .carrot {
	opacity:0;
	position:absolute;
	right:0px;
	top:50%;
	margin-top:-9px;
	height:18px;
	width:18px;
	background:url(../img/arrow.png);
	background-repeat: no-repeat;
	background-size:18px 18px;
	transition: linear 0.1s;
	/* Firefox 4 */
	-moz-transition:linear 0.1s;
	/* Safari and Chrome */
	-webkit-transition:linear 0.1s;
	/* Opera */
	-o-transition:linear 0.1s;
}

.roomlist_item:hover .carrot {
	opacity:0.8;
}


/* DJ STYLES */

.letsDJ {
	height:32px;
	width:32px;
	background:url(../img/icon-DJ.png);
	background-size: 100% 100%;
	background-position:center center;
	position:absolute;
	right:24px;
	top:24px;
	opacity: 0.8;
	transition: linear 0.1s;
	/* Firefox 4 */
	-moz-transition:linear 0.1s;
	/* Safari and Chrome */
	-webkit-transition:linear 0.1s;
	/* Opera */
	-o-transition:linear 0.1s;
}

.letsDJ:hover {
	opacity: 1!important;
	cursor: pointer;
}

.closeDJ {
	height:32px;
	width:32px;
	background:url(../img/icon-close.png);
	background-size: 100% 100%;
	background-position:center center;
	position:absolute;
	left:24px;
	top:24px;
	opacity: 0.0;
	transition: linear 0.1s;
	/* Firefox 4 */
	-moz-transition:linear 0.1s;
	/* Safari and Chrome */
	-webkit-transition:linear 0.1s;
	/* Opera */
	-o-transition:linear 0.1s;
}

.closeDJ:hover{
	opacity:1!important;
	cursor: pointer;
}

.interfaceDJ {
	position:absolute;
	width:2000px;
	top:1000px;
	left:100px;
	opacity:0;
}

.interfaceDJ .login {
	width:800px;
	height:400px;
	background:url(../img/signup-large-2.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:600px auto;
	display:inline-block;
}

.interfaceDJ .user {
	width:800px;
	margin-left:200px;
	height:400px;
	display:inline-block;
}

.interfaceDJ input {
	border:0;
	border-bottom:2px solid #fff;
	font-size:18px;
	color:#333;
	background:rgba(255,255,255,0.9);
	padding:10px;
	margin-left:8px;
}

.interfaceDJ input:first-child {
}

.submit {
	border-bottom:0!important;
	background:rgba(170,184,255,0.9)!important;
	transition: linear 0.1s;
	/* Firefox 4 */
	-moz-transition:linear 0.1s;
	/* Safari and Chrome */
	-webkit-transition:linear 0.1s;
	/* Opera */
	-o-transition:linear 0.1s;
}

.submit:hover {
	background:rgba(255,255,255,1)!important;
	box-shadow:0px 0px 8px #fff;
}





/*  About  */
.about {
	width:560px;
	height:500px;
	box-shadow:0px 4px 4px rgba(0,0,0,0.5), 0px 2px 8px rgba(255,255,255,0.8) inset;
	background:rgba(255,255,255,0.6);
	margin:50px auto 0;
	position:absolute;
	overflow:hidden;
	border-radius:10px;
	top:0;
	left:50%;
	margin-left:-280px;
	z-index: 1;
}

.about h1, h2{
	color:#333;
	text-shadow:0px 1px rgba(255,255,255,0.5);
	text-align: center;
	letter-spacing:-1px;
	margin-top:24px;
	font-weight: normal;
}

.about h3{
	color:#111;
	text-shadow:0px 1px rgba(255,255,255,0.3);
	text-align: center;
	letter-spacing:2px;
	text-transform: uppercase;
	font-weight:normal;
	font-size: 18px;
	margin-top: 170px;
}

.about .team {
	box-shadow:0px 1px 1px rgba(255,255,255,0.5);
	margin-bottom:20px;
	opacity:0.8;
	transition: linear 0.1s;
	/* Firefox 4 */
	-moz-transition:linear 0.1s;
	/* Safari and Chrome */
	-webkit-transition:linear 0.1s;
	/* Opera */
	-o-transition:linear 0.1s;
	float:left;
	height:120px;
	width:120px;
	background-size:120px 120px!important;
	background-repeat: no-repeat;
	margin-top:3px;
	margin-right:-1px;
}

.about .team:hover {
	opacity:1;
	margin-top: 0px;
	cursor: pointer;
}

.about a { display: inline; border:0; padding: 0;}

.will {
	margin-left:42px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	background:url(../img/will-1.jpg);
}

.will:hover {
	background:url(../img/will-2.jpg);
}

.andrew {
	background:url(../img/andrew-1.jpg);
}

.andrew:hover {
	background:url(../img/andrew-2.jpg);
}

.neal {
	background:url(../img/neal-1.jpg);
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.neal:hover {
	background:url(../img/neal-2.jpg);
}

.tommy {
	background:url(../img/tommy-1.jpg);
}

.tommy:hover {
	background:url(../img/tommy-2.jpg);
}


.aboutButton {
	height:32px;
	width:32px;
	background:url(../img/icon-about.png);
	background-size: 100% 100%;
	background-position:center center;
	position:absolute;
	left:24px;
	bottom:24px;
	opacity: 0.8;
	transition: linear 0.1s;
	/* Firefox 4 */
	-moz-transition:linear 0.1s;
	/* Safari and Chrome */
	-webkit-transition:linear 0.1s;
	/* Opera */
	-o-transition:linear 0.1s;
}

.aboutClose {
	padding:12px 24px;
	transition: linear 0.2s;
	/* Firefox 4 */
	-moz-transition:linear 0.2s;
	/* Safari and Chrome */
	-webkit-transition:linear 0.2s;
	/* Opera */
	-o-transition:linear 0.2s;
	color:#000;
	background:rgba(255,255,255,0.2);
	box-shadow:0px 0px 10px rgba(0,0,0,0.3);
	margin-top:32px;
}

.aboutX {
	height:32px;
	width:32px;
	background:url(../img/icon-close.png);
	background-size: 100% 100%;
	background-position:center center;
	position:absolute;
	left:24px;
	bottom:24px;
	display:none;
	opacity:0.0;
	transition: linear 0.1s;
	/* Firefox 4 */
	-moz-transition:linear 0.1s;
	/* Safari and Chrome */
	-webkit-transition:linear 0.1s;
	/* Opera */
	-o-transition:linear 0.1s;
}

.aboutX:hover{
	opacity:1!important;
	cursor: pointer;
}

.aboutClose:hover {
	background:rgba(255,255,255,0.8);
		margin-top:28px!important;
		cursor: pointer;
}

.aboutButton:hover {
	opacity: 1!important;
	cursor: pointer;
}

.aboutClose:hover .sink{
	opacity:1;

	transition: linear 0.1s;
	/* Firefox 4 */
	-moz-transition:linear 0.1s;
	/* Safari and Chrome */
	-webkit-transition:linear 0.1s;
	/* Opera */
	-o-transition:linear 0.1s;
}

.sink {
	transition: linear 0.1s;
	/* Firefox 4 */
	-moz-transition:linear 0.1s;
	/* Safari and Chrome */
	-webkit-transition:linear 0.1s;
	/* Opera */
	-o-transition:linear 0.1s;
	background: url(../img/discosync.png);
	background-size: 100% auto;
	height: 79px;
	width: 109px;
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
	background-position: center center;
	opacity:0.3;
}

#disclaimer {
	position:absolute;
	top: 6px;
	font-size:12px;
	text-shadow:0px 1px rgba(0,0,0,0.5);
	color:#fff;
	width:592px;
	text-align:center;
	opacity:0.4;
	transition: linear 0.1s;
	/* Firefox 4 */
	-moz-transition:linear 0.1s;
	/* Safari and Chrome */
	-webkit-transition:linear 0.1s;
	/* Opera */
	-o-transition:linear 0.1s;
	padding:4px;
	border-radius:12px;
	background:rgba(0,0,0,0.4);
	margin-left:-300px;
	left:50%;
}

#disclaimer:hover{
	opacity:1;
}

#disclaimer a {
	color:#fff;
}
