<html>
<head>
	<title>DiscoSync</title>
	<!-- Style -->
	<link href="css/main.css" rel="stylesheet" type="text/css">
	<!-- jQuery -->
	<script type="text/javascript" src='js/jquery-1.7.1.min.js'></script>
	<script type="text/javascript" src='js/script.js'></script>
	<!-- Firebase -->
	<script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
</head>
<body>
	<div class="app_main">
		<div class="logo"></div>
		<div class="closeDJ"></div><div class="letsDJ"></div>
		<div class="interfaceDJ"></div>
		<div class="frame">
			<div class="slider">
				<!-- App List Container with 'item' examples -->
				<div class="app_roomlist">
					<div class="roomlist_item">
						<div class="djname">DJ NAME</div>
						<div class="genre">Music Genre</div>
						<div class="listening">102 people listening</div>
						<div class="carrot"></div>
					</div>
					<div class="roomlist_item">
						<div class="djname">will newton</div>
						<div class="genre">Moombahton, Trap, Electro</div>
						<div class="listening">6 people listening</div>
						<div class="carrot"></div>
					</div>
					<div class="roomlist_item">
						<div class="djname">A-Trak</div>
						<div class="genre">Hip Hop, Booty Bounce</div>
						<div class="listening">1,907 people listening</div>
						<div class="carrot"></div>
					</div>
					<div class="roomlist_item">
						<div class="djname">Billy Joel</div>
						<div class="genre">Benny &amp; the Jets</div>
						<div class="listening">1,907,023 people love this song</div>
						<div class="carrot"></div>
					</div>
					<div class="roomlist_item">
						<div class="djname">DJ NAME</div>
						<div class="genre">Music Genre</div>
						<div class="listening">102 people listening</div>
						<div class="carrot"></div>
					</div>
					<div class="roomlist_item">
						<div class="djname">DJ NAME</div>
						<div class="genre">Music Genre</div>
						<div class="listening">102 people listening</div>
						<div class="carrot"></div>
					</div>
					<div class="roomlist_item">
						<div class="djname">DJ NAME</div>
						<div class="genre">Music Genre</div>
						<div class="listening">102 people listening</div>
						<div class="carrot"></div>
					</div>
				</div>
				<!-- App Room Example -->
				<div class="app_room">
					<div class="back">sync to a different disco</div>
					<div class="djname">will newton</div>
					<div class="genre">Moombahton, Trap, Electro</div>
					<div class="listening">6 people listening</div>
					<div class="roomsound">
						<audio controls>
							<source src="polynation.mp3" type="audio/mpeg">
							Your browser does not support the audio tag.
						</audio>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="about">
		<h1>The dudes behind DiscoSync:</h1>
		<center>
		<img src="http://uifaces.com/faces/_twitter/jayman_120.jpg">
		<img src="http://uifaces.com/faces/_twitter/damenleeturks_120.jpg">
		<img src="http://uifaces.com/faces/_twitter/molovo_120.jpg">
		<img src="http://uifaces.com/faces/_twitter/benhowdle_120.jpg">
		</center>
		<h3>Built at LAUNCH Hackathon 2013.</h3>
		<center>
			<!-- Service logos go here, filepicker, firebase -->
		</center>
		<div class="aboutClose"><h2>Alright already, lets play some music!</h2>
			<div class="sink"></div>
		</div>
	</div>
	<div class="aboutButton"></div>

	<div class="dim"></div>
</body>
<script>
	var stream_list = [];
	var disco = new Firebase('https://disco-sync.firebaseio.com/');
	disco.child('stream').on('child_added', function(stream) {
		stream_list.push(stream);
	});
</script>
</html>
